@red: #f00;
@green: #0a0;
@blue: #0Cf;
@yellow: #a0f;
@offwhite: #fafafa;
@gray: #565656;
@border: #232323;

body {
    background-image: url("images/2.png");
}

.input-group {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .input-group-addon, .form-control {
        border-width: 0 1px 0 0;
        border-style: solid;
        border-color: @border;
        color: @offwhite;
        background-color: @gray;
    }
}

canvas {
    border: 1px solid black;
}

.buffer-bottom {
    margin-bottom: 10px;
}

.btn:not(#submitSizeButton) {
    color: white;
    background-color: @gray;
    border: 1px solid @border;
    
    &:active, &.active {
        color: @gray;
        background-color: white;
    }

    &.btn-green {
        color: @green;
        &:active, &.active {
            color: @offwhite;
            background-color: @green;
        }
    }

    &.btn-blue {
        color: @blue;
        &:active, &.active {
            color: @offwhite;
            background-color: @blue;
        }
    }

    &.btn-red {
        color: @red;
        &:active, &.active {
            color: @offwhite;
            background-color: @red;
        }
    }

    &.btn-yellow {
        color: @yellow;
        &:active, &.active {
            color: @offwhite;
            background-color: @yellow;
        }
    }
}

form button, .btn-group, canvas, .dialog-window {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.generation-header {
    color: @offwhite;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.dialog-dimmer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.dialog-window {
    text-align: left;
    position: fixed;
    max-width: 50%;
    max-height: 50%;
    //width: 50%;
    //height: 40%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 101;

    .dialog-header {
        position: relative;
        border-bottom: 1px solid @border;

        .dialog-title {
            //text-align: left;
            padding-left: 20px;
        }

        .fa-close {
            position: absolute;
            top: 0%;
            right: 10px;
            transform: translateY(-20%);
            cursor: pointer;
            font-size: 2em;

            &:hover {
                color: @yellow;
            }
        }
    }

    .dialog-body-container {
        padding: 20px;
        font-size: 1.5em;
    }

    .dialog-footer {
        text-align: right;
        padding: 10px;
        border-top: 1px solid @border;
    }
}